body{
  font-family: 'PT Sans', sans-serif;
}
.top-page{
  background-image: url('../images/bg4.png');
  background-size: cover;
  height: 480px;
  width: 1250px;
}

.top-page1{
  background-image: url('../images/bg4.png');
  background-size: cover;
  height:480px;
  width: 1250px;
}
